<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4>Leave a Comment</h4>
    <p>You can leave a comment using this comment form</p>


    <form  #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)">
      <div class="form-group">
        <label for="">Name</label>
        <input
        type="text"
        class="form-control shadow-effect"
        placeholder="Enter your name here"
        name="name"
        #Name="ngModel"
        ngModel
        required
        [ngClass]="{'is-invalid': Name.touched && Name.invalid}"
        >

        <div class="text-danger" *ngIf="Name.touched && Name.invalid">
          <div *ngIf="Name.errors?.['required']">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Comment</label>
        <textarea
        cols="30"
        rows="10"
        class="form-control shadow-effect"
        placeholder="Add your comment here"
        name="comment"
        #Comment="ngModel"
        ngModel
        required
        [ngClass]="{'is-invalid': Comment.touched && Name.invalid}"
        >

        <div class="text-danger" *ngIf="Comment.touched && Comment.invalid">
          <div *ngIf="Comment.errors?.['required']">Comment is required</div>
        </div>
      </textarea>
      </div>



      <button class="btn btn-info btn-theme" [disabled]>Add a Comment</button>

    </form>
  </div>
</div>
