<app-header></app-header>

<app-category-navbar></app-category-navbar>

<div class="app-body">
  <router-outlet></router-outlet>
  <!-- le dice que dependiendo de la URL y la ruta en la que te encuentres, renderiza aqui ese componente. El `router-outlet` del `app.component.html` maneja las rutas principales que están declaradas en mi archivo de enrutamiento principal -->
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <app-subscription-form></app-subscription-form>
  </div>
</div>


<app-footer></app-footer>
